---
import Layout from "../layouts/Layout.astro";
import { Elm } from "../elm/Test.elm";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro and <Elm client:load />!</h1>
    <!-- <X> -->
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: linear-gradient(0deg, #4f39fa, #da62c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }
</style>
