---
import Test from "../components/Test.elm";
---
<html>
  <html>
    <meta name="color-scheme" content="dark light">
  </html>
  <body>
    <main>
      <h1>Astro and Elm:</h1>
      <Test client:only />
    </main>
  </body>
</html>

<style>
  :root {
    font-family: Helvetica, Arial, sans-serif;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
